<div class="d-flex justify-content-between align-items-center mb-4">
  <h2><%= @shop.name %></h2>
  <%= link_to "Retour à l'accueil", root_path %>
</div>

<h4>Horaires d'ouverture :</h4>

<% @shop.sorted_opening_hours_per_day.each do |day, ohs|%>
  <% if ohs.size > 1 %>
    <p><%= day %> : <%= ohs.first.display_start_at %> - <%= ohs.first.display_end_at %>, <%= ohs.last.display_start_at %> : <%= ohs.last.display_end_at %></p>
  <% else %>
    <% if ohs.first.is_closed %>
      <p><%= day %>: <%= ohs.first.display_closed_day %></p>
    <% else %>
      <p><%= day %> : <%= ohs.first.display_start_at %> - <%= ohs.first.display_end_at %>
    <% end %>
  <% end %>
<% end %>
