<div class="d-flex justify-content-between align-items-center mb-4">
  <h2><%= @shop.name %></h2>
  <%= link_to "Retour à l'accueil", root_path %>
</div>

<h4>Horaires d'ouverture :</h4>


<p>Day: <%= @shop.opening_hours.first.day %></p>
<p>Day: <%= @shop.opening_hours.first.start_at %></p>
<p>Day: <%= @shop.opening_hours.first.end_at %></p>
